<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="vue.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="vue.css" />
	</head>
	<body>
		<div id="app" style="background-color: #ccc; width:810px;margin:0 auto;">
			<parse :goods="goods"></parse>
		</div>
	</body>
	<template id="parent">
	<div>
		<button @click="allClick">全选</button><button @click="invers">反选</button>
		<list ref="chlid" :goods="goods" :value="value" :index="index" v-for="(value,index) in goods"></list>
		<h1>总价:￥{{prices}}</h1>
	</div>
    </template>
	<template id="tel">
            <div class="box">
				<img class="check" :src="src" alt="" @click="click"><img :src="value.img" class="food" alt="">
				<div>
					<p>{{value.title}}</p>
					<p> ￥{{value.price}}</p>
					<p><button class="btn" @click="++value.number">+</button><input type="text" v-model="value.number" :value="value.number"><button class="btn" @click="--value.number">-</button></p>
				</div>
				<div>
					<h1 v:bind="price">总价：{{rprice(value.number,value.price)}}</h1>
				</div>
			</div>
	</template>
	<script src="component.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
	   const list=	{
			data(){
				return {
				   price:0,
				   tema:true,
				   src:"./choose.png",
				}
			},
			methods:{
              click(el){
				this.src=this.tema? "./choose2.png":"./choose.png";
				this.tema=!this.tema;
				this.$parent.countprice();
			  },
			  all(){
					this.tema=true;
					this.click();
			  },
			  app(){
				console.log("all");
			  },
			  inverse(){
					this.item= !this.item;
					this.click()
				}
				,
				count(){
					if(!this.tema){
						return this.price;
					}
					return 0;
				},
				rprice(num,pric){
                  this.price=num*pric;
				  this.$parent.countprice();
				  return this.price;
				}
			},
			template:"#tel",
			props:{
				goods:[Array],
				value:[Object],
				index:[Number]
			}
		};
       const  parse={
		    data(){
				return{
					prices:0
				}
			},
			methods:{
             allClick(){
			  this.$refs.chlid.forEach(item=>{
				 item.all();
			  })
			  this.countprice();
			 },
			 invers(){
				this.$refs.chlid.forEach(item=>{
				 item.inverse();
			  })
			  this.countprice();
			 },
			 countprice(){
				let count =0;
				let that=this;
				this.$nextTick(()=>{
					 that.$refs.chlid.forEach(item=>{
					count+=item.count()
					
				  })
				  that.prices=count;
				})
			 }
			},
		components:{
			list
		},
		template:"#parent",
		props:{
			  goods:[Array],
			}
		}
	  const vm= new Vue({
			el: '#app',
			data: {
				goods: [{
					title: '佛跳墙',
					price: 88.88,
					number: 1,
					img: '佛跳墙.jpg'
				}, {
					title: '翠堂菜拼金钱袋',
					price: 66.66,
					number: 1,
					img: '翠堂菜拼金钱袋.jpg'
				}, {
					title: '果仁鸳鸯虾球',
					price: 55.55,
					number: 1,
					img: '果仁鸳鸯虾球.jpg'
				}, {
					title: '海皇三鲜煎面',
					price: 11.11,
					number: 1,
					img: '海皇三鲜煎面.jpg'
				}, {
					title: '黑醋法国鹅肝',
					price: 22.22,
					number: 1,
					img: '黑醋法国鹅肝.jpg'
				}, {
					title: '家乡葱油饼',
					price: 33.33,
					number: 1,
					img: '家乡葱油饼.jpg'
				}, {
					title: '金奖鳗鱼酥',
					price: 44.44,
					number: 1,
					img: '金奖鳗鱼酥.jpg'
				}, {
					title: '上汤龙虾',
					price: 77.77,
					number: 1,
					img: '上汤龙虾.jpg'
				}, {
					title: '深海金枪鱼',
					price: 99.99,
					number: 1,
					img: '深海金枪鱼.jpg'
				}, {
					title: '野生水鱼焖鲍鱼鸡',
					price: 99.00,
					number: 1,
					img: '野生水鱼焖鲍鱼鸡.jpg'
				},{
					title: '佛跳墙',
					price: 88.88,
					number: 1,
					img: '佛跳墙.jpg'
				}, {
					title: '翠堂菜拼金钱袋',
					price: 66.66,
					number: 1,
					img: '翠堂菜拼金钱袋.jpg'
				}, {
					title: '果仁鸳鸯虾球',
					price: 55.55,
					number: 1,
					img: '果仁鸳鸯虾球.jpg'
				}, {
					title: '海皇三鲜煎面',
					price: 11.11,
					number: 1,
					img: '海皇三鲜煎面.jpg'
				}, {
					title: '黑醋法国鹅肝',
					price: 22.22,
					number: 1,
					img: '黑醋法国鹅肝.jpg'
				}, {
					title: '家乡葱油饼',
					price: 33.33,
					number: 1,
					img: '家乡葱油饼.jpg'
				}, {
					title: '金奖鳗鱼酥',
					price: 44.44,
					number: 1,
					img: '金奖鳗鱼酥.jpg'
				}, {
					title: '上汤龙虾',
					price: 77.77,
					number: 1,
					img: '上汤龙虾.jpg'
				}, {
					title: '深海金枪鱼',
					price: 99.99,
					number: 1,
					img: '深海金枪鱼.jpg'
				}, {
					title: '野生水鱼焖鲍鱼鸡',
					price: 99.00,
					number: 1,
					img: '野生水鱼焖鲍鱼鸡.jpg'
				}]
			},
			components:{
				parse
			}
		})
	</script>

</html>